body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    color: #f8f8f8;
    background: #111;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .header {
    background: linear-gradient(to bottom, #444, #222);
    color: #ffd700;
    padding: 50px 20px;
    border-radius: 10px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  .header p {
    margin: 10px 0 0;
    font-size: 1.2rem;
  }
  
  h2 {
    color: #ffd700;
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #ffd700;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  p, ul, ol {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: center;
  }
  
  ul, ol {
    margin: 0 auto;
    padding: 0 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  footer {
    background: #222;
    color: #ffd700;
    padding: 20px;
    border-top: 1px solid #444;
  }
  
  footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .conclusion p {
    font-weight: bold;
    color: #fff;
  }
  
  section {
    margin-bottom: 40px;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  
  section ul, section ol {
    background: #222;
    padding: 20px;
    border-radius: 10px;
  }
  